DATABASE_URL=""
DIRECT_URL=""
BCRYPT_SALT_ROUNDS="12"
IS_PRODUCTION=false
JWT_SECRET='nisri_secert_2010'
JWT_EXPIRATION_MS='6h'
ALLOWED_ORIGIN=localhost:3000
PORT=3001

# Cloudinary configuration keys
CLOUDINARY_CLOUD_NAME=name of your cloudinary account
CLOUDINARY_API_KEY=cloudinary api key
CLOUDINARY_API_SECRET=cloudinary api secret